body{
overflow-x:hidden;
background: url(../img/auris.jpg) no-repeat;
background-attachment:fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin: 0rem;
position: absolute;
width: 100%;
}
header{
background-color: transparent;
margin-top: 1rem;
width: 100%;
position: absolute;
}
@font-face{
font-family:SansIns;
src:url(../font//Sans%20Inserat.ttf);
}
/*****************************BANNER***********************************/
#sectionView{
position: relative; 
display: inline-block; 
height: 14rem; 
-webkit-transition: 0.3s;
transition: 0.3s; 
margin-top: 0; top: 4rem;
}
.hHome{
width: 100%;
position: fixed;
display: none;
z-index: 5;
}
.banner{
background-image: url("../img/banner2.png");
background-repeat: repeat-x;
-webkit-border-radius: 1rem ;
-moz-border-radius: 1rem ;
border-radius: 1rem ;
height: 4rem;
margin-top: 0rem;
-webkit-box-shadow: 0 0  0.3125rem #000 ;
-moz-box-shadow: 0 0  0.3125rem #000 ;
box-shadow: 0 0  2.3125rem #000 ;
}
.lHome{
display: inline-block;
vertical-align: top;
}
.logoHome{
display: inline-block;
width:9rem; 
height:auto;
margin-left: 5rem;
}
.logoHome:hover{
width: 10rem;
height: auto;
-moz-transition: .5s;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
.navSearch {
display: inline-block;
font-family: Gotham;
vertical-align: top;
margin-top: 0.8rem;
background-color: transparent;
float: right;
margin-right: 5rem;
color: #FFF;
}
.searchHome{
background:#ededed url(../img/zoom191.png) no-repeat 0.5625rem center ;
/*border:inherit;*/
width: 20rem;
height: 2rem;
padding-left: 2rem ;
background-color:#FFF ;
cursor: pointer ;
/*-webkit-border-radius: 15rem ;
-moz-border-radius: 15rem ;*/
border-radius: 15rem ;
/*-webkit-transition: all .5s ;
-moz-transition: all .5s ;
transition: all .5s ;
*/
}
#sectionView{
display: inline-block;
position: relative;
float: right;
background: #FFF;
width: 20rem;
height: 0rem;
overflow-x:hidden;
padding-left: 2rem;
vertical-align: top;
margin-right: 5rem;
color: #FFF;
z-index: 2;
-webkit-border-radius:  0 0 1rem 1rem ;
-moz-border-radius:  0 0 1rem 1rem ;
border-radius: 0 0 1rem 1rem;
}
#titlesAA2{
width: 90%;
position: relative;
display: inline-block;
height: 1.2rem;
}
#labelArtistsS{
width: 45%;
float: left;
text-align: left;
position: relative;
font-size: 1rem;
color: #000;
}
#labelAlbumsS{
width: 45%;
text-align: left;
position: relative;
display: inline-block;
font-size: 1rem;
color: #000;
float: right;
margin-right: 0.375rem
}
#albumId2{
width: 45%; 
height: 10rem;
float: right;
text-align: left;
display: inline;
color: #000;

}
#artistId2{
width: 45%;
height: 10rem; 
float: left;
text-align: left;
display: inline;
color: #000;
}
#listAA2{
width: 90%;
height: 10rem;
position: relative;
display:inline-block;
overflow-y:scroll;
color: #000;
overflow-x:hidden;

}
#listAA2::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0  0.375rem rgba(0,0,0,0.3);
border-radius: 0.625rem;
background-color: #FFF;
}
#listAA2::-webkit-scrollbar
{
width: 0.5rem;
border-radius: 0.625rem;
background-color: #F5F5F5;
}
#listAA2::-webkit-scrollbar-thumb
{
border-radius: 0.5rem;
-webkit-box-shadow: inset 0 0  0.375rem rgba(0,0,0,.3);
background-color: #BCBCBC;
}
#artistId2>div>a{
color: #000;
}
#albumId2>div>a{
color: #000;
}
/****************************************END BANNER***********************************/
#container{
width: 100%;
height: 100%; 
position: absolute;
}
.headerHome{
display: block;
position: relative;
height: auto;
vertical-align: top;
width: 100%;
text-align: center;
margin-top: 0rem;
}
#logoSpotify {
width: 100%;
height: 10rem;
background-color: transparent;
margin-top: 0rem;
display: inline-block;
}
#imgSpotify{
width: 20rem;
height: 10rem;
}
.fontConfig{
font-family: SansIns;
color: #FFF;
font-size: 2rem;
margin-top: 0rem;
background: transparent;
display: block;
text-align: center;
}
#navSearch {
background-color: transparent;
margin-top: 1rem;
}
input[type=search] {
-webkit-appearance: textfield ;
-webkit-box-sizing: content-box ;
font-family: inherit ;
font-size: 100% ;
}
input:focus{
outline:0 ;
-webkit-appearance:normal ;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
}
.search{
background:#ededed url(../img/zoom191.png) no-repeat 0.5625rem center ;
border:inherit;
width: 47rem;
height: 2.563rem;
padding-left: 2rem;
padding-right: 1rem;
background-color:#FFF ;
cursor: pointer ;
-webkit-border-radius: 15rem ;
-moz-border-radius: 15rem ;
border-radius: 15rem ;
/*-webkit-transition: all .5s ;
-moz-transition: all .5s ;
transition: all .5s ;*/
}
.search:focus{
padding-right: 2rem ;
color: #000 ;
background-color: #FFF ;
border-color: #0000FF ;
cursor: auto ;
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#sectionViewHome{
display: block;
position: relative;
width: 100%;
height: auto;
text-align: center;
}
#titlesAA{
width: 80%;
display: inline-block;
position: relative;
}
#labelArtists{
display: inline;
width: 40%;
float: left;
color: #FFF;
}
#labelAlbums{
display: inline;
width: 40%;
float: right;
color:#FFF;
margin-right: 0.75rem;
}
#listAA{
width: 80%;
height: 25rem;
position: relative;
display:inline-block;
overflow-y:scroll;
}
#listAA::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.3);
border-radius:  0.625rem;
background-color: #FFF;
}
#listAA::-webkit-scrollbar
{
width: 0.75rem;
border-radius:  0.625rem;
background-color: #F5F5F5;
}
#listAA::-webkit-scrollbar-thumb
{
border-radius:  0.625rem;
-webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,.3);
background-color: #BCBCBC;
}
.AA{
margin-top: 1rem;
}
#artistId{
width: 40%; 
float: left;
display: inline;
color: #FFF;
}
#albumId{
width: 40%; 
float: right;
display: inline;
color: #FFF;
}
.imgSearch{
width: 10rem;
height: 10rem;
text-align: center; 
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
.imgSearch:hover{
width: 11rem;
height: 11rem;
-moz-transition: .5s;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
h1{
text-align: center;
}
a{
text-decoration: none;
color: #fff;
}
a:hover{
color: #DF0101;
}
.aname{
height: 5rem;
font-size: 1.5rem;
text-align: center;
}
#labelArtists2{
display: none;
}
#labelAlbums2{
display: none;
}
/*-----------------------us2-us3--------------------------------*/
#allartist{
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
}
#artist{
font-size:1.4rem;
width: 80%;
height:auto;
margin-right: auto;
margin-left: auto;
}
#artist h3{
color:white;
font-size: 2.5rem;
font-family: tahoma;
-webkit-text-stroke: 0.125rem #000000;
-moz-text-stroke: 0.125rem #000000;
margin-top: 0;
margin-bottom: 0;
margin-right: auto;
margin-left: 0;
height: auto;
bottom: 10%;
top: 0;
}
#allalbm{
width: 100%;
margin-left: auto;
margin-right: auto;
}
#artist img{
display:block;
margin-top: 8rem;
margin-left: 0;
margin-bottom: 0;
margin-right: 0;
width: 50%;
height: 26.25rem;
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#artist #showalb{
opacity:0.7;
width: 60%;
height: auto;
z-index:-1;
margin-top: 5%;
box-shadow: none;
}
#artist #showalb:hover{
opacity: 1;
}
#artist h2{
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
font-size: 4rem;
font-family: Tahoma;
color:white;
font-weight: bold;
-webkit-text-stroke: 0.2rem #000000;
-moz-text-stroke: 0.2rem #000000;
}
#text{
float:left;
display: inline-block;
height: 30%;
width: 50%;
margin-left: auto;
margin-top: 0;
}
#containeral {
overflow: hidden;
padding-left: 7%;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
}
.secalbs{
width: 80%;
margin-left: auto;
margin-right: auto;
}
#albums {
padding-left: 0;
width: 100%;
margin-top: 0;
margin-right: 0;
margin-left:auto;
margin-bottom: 0;
}
#albums li {
list-style:none;
float:left;
margin:0.625rem;
font-weight:bold;
height: 18.75rem;
margin: 1rem;
}
#albums img{
width: 11rem;
height: 11rem;
display:block;
margin-left: auto;
margin-right: auto;
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#albums img:hover{
width: 12rem;
height: 12rem;
-moz-transition: .5s;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
#albums h3{
color:white;
font-family:Tahoma; 
font-size: 1.5rem;
font-weight: bold;
}
#albums a{
text-align:center;
text-decoration:none;
color:white;
font-weight: bold;
font-family:Tahoma;
-webkit-text-stroke: 0.1rem #000000;
-moz-text-stroke: 0.1rem #000000;
}
#albums a:hover {
color:#DF0101;
}
#artist a{
color:#FFF;
-webkit-text-stroke: 0.2rem #000000;
-moz-text-stroke: 0.2rem #000000;
text-decoration:none;
}
#text a:hover{
color:#DF0101;
}
#albtitle{
width: 100%;
height: auto;
font-size: 2rem;
font-family: Tahoma;
color:white;
font-weight: bold;
-webkit-text-stroke: 0.2rem #000000;
-moz-text-stroke: 0.2rem #000000;
text-align: center;
}
#albums #namealb {
width: 12.5rem;
height: 10rem;
margin-top: 0;
margin-right: 0;
margin-left: 0;
margin-bottom: 1rem;
}
/*-------------endus2-us3---------------------------------------*/
/*us5-us6*/
#albumdata{
width: 90%;
margin-right: auto;
margin-left: auto;
margin-top: 5%;


}
#tracksTable{
text-align: left;
color: #FFF;
margin-right: 3rem;
font-size: 1.3rem;
width: 34rem;
border-spacing: 20%;
float: right;
margin-top: -41%;
width: 49%;
position: relative;
clear: right;
font-family: tahoma;
font-weight: bold;
-webkit-text-stroke: 0.1rem #000000;
-moz-text-stroke: 0.1rem #000000;
}
td, tr, th{
border-bottom: 0.1rem solid #FFF;
}
#coveralb{
width: 50%;
}
#imgAlbum{
width: 80%;
height: auto;
margin: auto;
display: block;
margin-left: 3rem;
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#artistTitle{
color: #FFF;
font-size: 2rem;
text-align: left;
margin-left: 3rem;
text-decoration: none;
}
#albumdata #albumNames{
color: #FFF;
font-size: 3rem;
margin-left: 3rem;
text-align: left;
font-weight: bold;
-webkit-text-stroke: 0.2rem #000000;
-moz-text-stroke: 0.2rem #000000;
font-family: Tahoma;
}
#albumdata #popularityTitle{
color: #FFF;
font-size: 2rem;
text-align: left;
margin-left: 3rem;
-webkit-text-stroke: 0.1rem #000000;
-moz-text-stroke: 0.1rem #000000;
font-family: Tahoma;

}
#albumdata #artGenre{
color: #FFF;
font-size: 2rem;
text-align: left;
margin-left: 3rem;
}

#artTit{
font-family: tahoma;
-webkit-text-stroke: 0.1rem #000000;
-moz-text-stroke: 0.1rem #000000;
}

a:hover{color: #DF0101}

#dur{
width: 20%;
}
#track{
width: 60%;
}
#num{
width: 10%;
}
#disc{
width: 10%;
}
/*-------------------START OF US4--------------------------*/
#allre{
width: 100%;
display: inline-block;
}
#recontaineral {
height: auto;
width: 100%;
text-align: center;
display: inline-block;
}
#reartist{
text-align:center;
display: inline-block;
padding-left:0rem;
}
#reartist li {
list-style:none;
float:left;
margin:1rem;
font-weight:bold;
color:#777777;
}
#reartist img{
width: 10rem;
height: 10rem;
display: hidden;
-webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
-moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#reartist img:hover{
width: 10.5rem;
height: 10.5rem;
-moz-transition: .5s;
-webkit-transition: .5s;
-o-transition: .5s;
transition: .5s;
}
#reartist h3{
font-size: 1.35rem;
-webkit-text-stroke: 0.1rem #000000;
-moz-text-stroke: 0.1rem #000000;
}
#reartist a{
text-align:center;
text-decoration:none;
color:white;
font-weight: bold;
font-family:Tahoma; 
}
#reartist a:hover{
color:#DF0101;
}
#retitle{
font-size: 3rem;
font-family: Tahoma;
color:white;
font-weight: bold;
-webkit-text-stroke: 0.2rem #000000;
-moz-text-stroke: 0.2rem #000000;
text-align: center;
width: 100%;
display: inline-block;
}
#namereart{
width: 12.5rem;
height: 6.25rem;
margin-top: 0;
margin-right: 0;
margin-left: 0;
margin-bottom: 0;
text-align: center;
}
#contre{
width: 100%;
text-align: center;
display: inline-block;
}
/*-------------------END OF US4--------------------------*/
@media screen and (min-width:480px) and (max-width:768px){
/*****************************BANNER***********************************/
  #sectionView{
  top: 2.5rem;
  }
  .banner{
  background-image: url("../img/banner2.png");
  background-repeat: repeat-x;
  height: 2.5rem;
  -webkit-border-radius: 1rem ;
  -moz-border-radius: 1rem ;
  border-radius: 1rem ;
  }
  .logoHome{
  width:auto; 
  height:2rem;
  margin-left: 3rem;
  }
  .logoHome:hover{
  width: auto;
  height: 2.3rem;
  }
  .navSearch {
  margin-top: 0.3rem;
  margin-right: 3rem;
  font-size: 0.7rem;
  }
  .searchHome{
  width: 10rem;
  height: 1.5rem;
  }
  #sectionView{
  font-size: 0.7rem;
  width: 10rem;
  height: 0rem;
  margin-right: 3rem;
  }
  #titlesAA2{
  height: 1rem;
  }
  #labelArtistsS{
  font-size: 0.7rem;
  }
  #labelAlbumsS{
  font-size: 0.7rem;
  }
  #listAA2::-webkit-scrollbar
  {
  width: 0.375rem;
  }
  /****************************************END BANNER***********************************/
  #logoSpotify{
  width: 100%;
  display: block;
  height: auto;
  }
  #imgSpotify{
  width: 10rem;
  height: 5rem;
  margin:0 auto 0 auto;
  }
  .fontConfig{
  width: 100%;
  display: block;
  font-size: 1rem;
  }
  #navSearch{
  width: 100%;
  display: block;
  }
  .search{
  width: 80%;
  height: 2rem;
  }
  #artistId{
  width: 100%;
  display: block;
  }
  #albumId{
  width: 100%;
  display: block;
  }
  .search:focus{
  width: 80%;
  height: 2rem;
  }
  #titlesAA{
  display: inline-flex;
  }
  #labelArtists{
  margin-left: 10%;
  }
  #labelAlbums{
  margin-right: 12%;
  }
  #sectionViewHome {
  position: relative;
  width: 100%;
  margin-top: 0;
  display: inline-block;
  top: 50%;
  height: auto;
  text-align: center;
  }
  #artistId{
  width: 40%; 
  float: left;
  display: inline;
  margin-top: 0rem;  
  color: #FFF;
  margin-left: 10%;
  }
  #albumId{
  width: 40%; 
  float: right;
  display: inline;
  margin-top: 0rem;
  color: #FFF;
  margin-right: 10%;
  }
  .imgSearch{
  width: 8rem;
  height: 8rem;
  }
  .imgSearch:hover{
  width: 9rem;
  height: 9rem;
  }
  .aname{
  height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  }
  /*------------------------us2-us3--------------------------*/
  #allartist{
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
  }
  #artist{
  margin: auto;

  }
  #allalbm{
  width: 80%;
  }
  #artist img{
  display:block;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }
  #artist #showalb{
  width: 100%;
  }
  #artist h2{
  font-size: 3rem;
  text-align: justify;
  margin-left: auto;
  }
  #text{
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  }
  #containeral{
  padding-left: 0;
  }
  #showalb{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;

  }
  #albums li {
  margin:0 0 0 0;
  width: 50%;
  }
  #albums img{
  width: 80%;
  height: 10rem;
  }
  #namealb {
  width: 100%;
  text-align: center;
  height: 16rem;
  }
  /*---------------------------end us2-us3------------------*/
  /*us5-us6*/
  #coveralb{
  width: 100%;
  }
  #imgAlbum{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  }
  #tracksTable{
  text-align: left;
  color: #FFF;
  font-size: 1.5rem;
  border-spacing: 19;
  width: 79%;
  margin-top: 2rem;
  }
  #albumNames{
  color: #FFF;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  }
  #artistTitle{
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  }
  #popularityTitle{
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  margin-left: 0rem;
  }
  #artGenre{
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  margin-left: 0rem;
  }

  #dur{
  width: 20%;
  }
  #track{
  width: 60%;
  }
  #num{
  width: 10%;
  }
  #disc{
  width: 10%;
  }
/*-----------end us5-us6 --------------*/
}
  @media screen and (max-width:480px){
  /*****************************BANNER***********************************/
  .hHome{
  display: none;
  }
  .banner{
  display: none;
  }
  #sectionView{
  display: none;
  }
  /****************************************END BANNER***********************************/
  #logoSpotify{
  width: 100%;
  display: block;
  height: auto;
  }
  #imgSpotify{
  width: 10rem;
  height: 5rem;
  margin:0 auto 0 auto;
  }
  .fontConfig{
  width: 100%;
  display: block;
  font-size: 1rem;
  }
  #navSearch{
  width: 100%;
  display: block;
  }
  .search{
  width: 80%;
  height: 2rem;
  }
  #sectionViewHome {
  position: relative;
  width: 100%;
  margin-top: 0;
  display: inline-block;
  top: 50%;
  height: auto;
  margin-left: 0%;
  text-align: center;
  }
  #artistId{
  width: 100%; 
  float: none;
  display: inline;
  margin-top: 0rem;  
  color: #FFF;
  text-align: center;
  margin-left: 0rem;
  }
  #albumId{
  width: 100%; 
  float: none;
  display: inline;
  margin-top: 0rem;
  color: #FFF;
  text-align: center;
  margin-left: 0rem;
  }
  .imgSearch{
  width: 10rem;
  height: 10rem;
  }
  .aname{
  height: 5rem;
  font-size: 1.5rem;
  text-align: center;
  }
  #listAA::-webkit-scrollbar
  {
  width: 0.5rem ;
  }
  #labelArtists{
  display: none;
  }
  #labelAlbums{
  display:none;
  }
  #labelArtists2{
  display: inline-block;
  color: #FFF;
  }
  #labelAlbums2{
  display:inline-block;
  color: #FFF;
  }
  /* ----------------------- us2-us3------------------------------*/
  #allartist{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  }
  #artist{
  margin: auto;
  width: 100%;
  }
  #allalbm{
  margin-left: 0;
  margin-right: 0;
  }
  #artist img{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }
  #artist h2{
  font-size: 3rem;
  text-align: justify;
  margin-left: auto;
  }
  #text{
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  }
  #artist #showalb{
  width: 100%;
  opacity: 1;

  }
  #containeral{
  padding-left: 0;
  }
  #albums{
  height: auto;
  }
  #albums li {
  width: 100%;
  height: auto;
  }
  #albums img{
  width: 100%;
  height: auto;
  }
  #albums img:hover{
  width: 100%;
  height: auto;

  }

  #albums h3{
  text-align: center;
  color:white;
  font-family:Tahoma; 
  font-size: 1.5rem;
  font-weight: bold;
  }
  #namealb{
  margin-bottom: 0;
  width: 100%;
  height: auto;
  }
  /*--------------------end us2-us3 -------------------------*/
  /*us5-us6*/
  #coveralb{
  width: 100%;
  }
  #imgAlbum{
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  margin-left: 0;
  }
  #tracksTable{
  text-align: left;
  color: #FFF;
  font-size: 1rem;
  border-spacing: 0rem;
  width: 79%;
  margin-top: 2rem;
  }
  #albumNames{
  color: #FFF;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-left: 0rem;
  }
  #popularityTitle{
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  margin-left: 0rem;
  }
  #artistTitle{
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  margin-left: 0rem;
  }
  #artGenre{
  color: #FFF;
  font-size: 1rem;
  text-align: center;
  margin-left: 0rem;
  }
  #dur{
  width: 20%;
  }
  #track{
  width: 60%;
  }
  #num{
  width: 10%;
  }
  #disc{
  width: 10%;
  }
  /*-----------end us5-us6 --------------*/
}