body{
  overflow-x:hidden;
  background: url(../img/backgroundBody.jpg) no-repeat;
  background-attachment:fixed; 
}
header{
  background-color: transparent;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}
@font-face{
  font-family:SansIns;
  src:url(../font//Sans%20Inserat.ttf);
}
/*****************************BANNER***********************************
.hHome{
width: 100%;
height: auto;
position: fixed;
}
.banner{
background-image: url("../img/banner2.png");
background-repeat: repeat-x;
-webkit-border-radius: 1rem ;
-moz-border-radius: 1rem ;
border-radius: 1rem ;
}
.lHome{
display: inline-block;
vertical-align: top;
}
.logoHome{
width:9rem; 
height:auto;
margin-left: 5rem;
}
.navSearch {
display: inline-block;
font-family: Gotham;
vertical-align: top;
margin-top: 0.8rem;
background-color: transparent;
float: right;
margin-right: 5rem;
color: #FFF;
}
.searchHome{
background:#ededed url(../img/zoom191.png) no-repeat 0.5625rem center ;
/*border:inherit;*/
/*width: 20rem;
height: 2rem;
padding-left: 2rem ;
background-color:#FFF ;
cursor: pointer ;
/*-webkit-border-radius: 15rem ;
-moz-border-radius: 15rem ;*/
/*border-radius: 15rem ;
/*-webkit-transition: all .5s ;
-moz-transition: all .5s ;
transition: all .5s ;
*/
/*}
/****************************************END BANNER***********************************/
#container{
  width: 100%;
  height: 100%; 
  position: absolute;
}
.headerHome{
  display: block;
  position: relative;
  height: auto;
  vertical-align: top;
  width: 100%;
  text-align: center;
  margin-top: 0rem;
}
#logoSpotify {
  width: 100%;
  height: 10rem;
  background-color: transparent;
  margin-top: 0rem;
  display: inline-block;
}
#imgSpotify{
  width: 20rem;
  height: 10rem;
}
.fontConfig{
  font-family: SansIns;
  color: #FFF;
  font-size: 2rem;
  margin-top: 0rem;
  background: transparent;
  display: block;
  text-align: center;
}
#navSearch {
  background-color: transparent;
  margin-top: 1rem;
}
input[type=search] {
  -webkit-appearance: textfield ;
  -webkit-box-sizing: content-box ;
  font-family: inherit ;
  font-size: 100% ;
}
input:focus{
  outline:0px ;
  -webkit-appearance:normal ;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
}
.search{
  background:#ededed url(../img/zoom191.png) no-repeat 0.5625rem center ;
  border:inherit;
  width: 47rem;
  height: 2.563rem;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color:#FFF ;
  cursor: pointer ;
  -webkit-border-radius: 15rem ;
  -moz-border-radius: 15rem ;
  border-radius: 15rem ;
/*-webkit-transition: all .5s ;
-moz-transition: all .5s ;
transition: all .5s ;*/
}
.search:focus{
  padding-right: 2rem ;
  color: #000 ;
  background-color: #FFF ;
  border-color: #0000FF ;
  cursor: auto ;
  -webkit-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
  -moz-box-shadow: 0 0  0.3125rem rgba(109,207,246,.5) ;
  box-shadow: 0 0  2.3125rem rgba(109,207,246,.5) ;
}
#sectionViewHome{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
#titlesAA{
  width: 80%;
  display: inline-block;
  position: relative;
}
#labelArtists{
  display: inline;
  width: 40%;
  float: left;
  color: #FFF;
}
#labelAlbums{
  display: inline;
  width: 40%;
  float: right;
  color:#FFF;
  margin-right: 12px;
}
#listAA{
  width: 80%;
  height: 25rem;
  position: relative;
  display:inline-block;
  overflow-y:scroll;
}
#listAA::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFF;
}
#listAA::-webkit-scrollbar
{
  width: 12px;
  border-radius: 10px;
  background-color: #F5F5F5;
}
#listAA::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BCBCBC;
}
#artistId{
  width: 40%; 
  float: left;
  display: inline;
  color: #FFF;
}
#albumId{
  width: 40%; 
  float: right;
  display: inline;
  color: #FFF;
}
.imgSearch{
  width: 10rem;
  height: 10rem;
  text-align: center;
}
h1{
  text-align: center;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: blue;
}
.aname{
  height: 5rem;
  font-size: 1.5rem;
  text-align: center;
}
#labelArtists2{
  display: none;
}
#labelAlbums2{
  display: none;
}
@media screen and (min-width:480px) and (max-width:768px){
  #logoSpotify{
    width: 100%;
    display: block;
    height: auto;
  }
  #imgSpotify{
    width: 10rem;
    height: 5rem;
    margin:0 auto 0 auto;
  }
  .fontConfig{
    width: 100%;
    display: block;
    font-size: 1rem;
  }
  #navSearch{
    width: 100%;
    display: block;
  }
  .search{
    width: 80%;
    height: 2rem;
  }
  #artistId{
    width: 100%;
    display: block;
  }
  #albumId{
    width: 100%;
    display: block;
  }
  .search:focus{
    width: 80%;
    height: 2rem;
  }
  #titlesAA{
    display: inline-flex;
  }
  #labelArtists{
    margin-left: 10%;
  }
  #labelAlbums{
    margin-right: 12%;
  }
  #sectionViewHome {
    position: relative;
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    top: 50%;
    height: auto;
    text-align: center;
  }
  #artistId{
    width: 40%; 
    float: left;
    display: inline;
    margin-top: 0rem;  
    color: #FFF;
    margin-left: 10%;
  }
  #albumId{
    width: 40%; 
    float: right;
    display: inline;
    margin-top: 0rem;
    color: #FFF;
    margin-right: 10%;
  }
  .imgSearch{
    width: 8rem;
    height: 8rem;
  }
  .aname{
    height: 5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width:480px){
  #logoSpotify{
    width: 100%;
    display: block;
    height: auto;
  }
  #imgSpotify{
    width: 10rem;
    height: 5rem;
    margin:0 auto 0 auto;
  }
  .fontConfig{
    width: 100%;
    display: block;
    font-size: 1rem;
  }
  #navSearch{
    width: 100%;
    display: block;
  }
  .search{
    width: 80%;
    height: 2rem;
  }
  #sectionViewHome {
    position: relative;
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    top: 50%;
    height: auto;
    margin-left: 0%;
    text-align: center;
  }
  #artistId{
    width: 100%; 
    float: none;
    display: inline;
    margin-top: 0rem;  
    color: #FFF;
    text-align: center;
    margin-left: 0rem;
  }
  #albumId{
    width: 100%; 
    float: none;
    display: inline;
    margin-top: 0rem;
    color: #FFF;
    text-align: center;
    margin-left: 0rem;
  }
  .imgSearch{
    width: 10rem;
    height: 10rem;
  }
  .aname{
    height: 5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  #listAA::-webkit-scrollbar
  {
    width: 8px;
  }
  #labelArtists{
    display: none;
  }
  #labelAlbums{
    display:none;
  }
  #labelArtists2{
    display: inline-block;
    color: #FFF;
  }
  #labelAlbums2{
    display:inline-block;
    color: #FFF;
  }
}