<div id="allartist">
  <section id="artist">
    <article id="text">
      <h3>
        Name: 
      </h3>
      <h2>
        {{artist.name}}
      </h2>
      <h3 ng-show="artist.genres.length>0">
        Genre:
        <span  ng-repeat="genre in artist.genres">
          {{genre +" " | capitalize}}
        </span>
      </h3>
      <h3>
        Popularity: {{artist.popularity}}
      </h3>
      <h3>
        <a href="#/relatedartist/{{artist.id}}">
          Related Artist
        </a>
      </h3>
    </article>
    <img ng-show="artist.images.length>0" ng-src="{{artist.images[0].url}}" alt="{{artist.name}}"/>
    <img ng-show="artist.images.length<=0" src="img/perfilartist2.jpg" width="100 rem" height="100 rem"/>
  </section>
  <a href="#/artist/{{artist.id}}" ng-click="changeState()">
    <img id="showalb"src="img/botonalbum.png" alt="View Albums"/>
  </a>
  <div ng-show="albumState.show" class="secalbs">
    <section id="allalbm" >
      <article id="albtitle">
        <h2>
          Albums
        </h2>
      </article>
      <div id ="containeral">
        <section>
          <ul id="albums">
            <li ng-repeat="album in albums">
              <a href="#/album/{{album.id}}">
                <img ng-show="album.images.length>0" ng-src="{{album.images[0].url}}" alt="{{album.name}}"/>
                <img ng-show="album.images.length<=0" src="img/perfilalbums2.jpg"/>
              </a>
              <a href="#/album/{{album.id}}" >
                <h3 id="namealb">
                  {{album.name}}
                </h3>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </div>
</div>

