<section id="allre">
  <article id="retitle">
    <h2>
      Related Artist
    </h2>
  </article>
  <div id ="recontaineral">
    <section id="contre">
      <ul ng-repeat="reartist in reartists" id="reartist">
        <li>
          <a href="#/artist/{{reartist.id}}"> 
            <img ng-show="reartist.images.length>0" ng-src="{{reartist.images[0].url}}" alt="{{artist.name}}">
          </a>
          <a href="#/artist/{{reartist.id}}">
            <img ng-show="reartist.images.length<=0" src="img/perfilartist.jpg">
          </a>
          <a href="#/artist/{{reartist.id}}">
            <h3 id="namereart">
              {{reartist.name}}
            </h3>
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>